<h2>Hello, my name is Eli McFadden. Listed below is my resume: </h2>
<h2>Eli McFadden
Logan, UT 84321
eli.mcfadden323@gmail.com
+1 719 425 6407
Authorized to work in the US for any employer Work Experience
Delivery Driver
Jimmy John's Sandwiches - Logan, UT September 2022 to Present
Responsibilities
• Delivering sandwiches to customers
• Taking orders from customers both at the register and over the phone • Cleaning/Stocking
• Setting up catering orders
Delivery Driver
Louies pizza - Colorado Springs, CO June 2022 to August 2022
Responsibilities
• Delivering orders
• Closing the store at the end of the night
• Making, rolling, and stretching dough
• Working on the line making pizzas and wings • Cleaning and doing dishes
• Taking orders over the phone
Cashier
Maverik - Logan, UT April 2021 to April 2022
Responsibilities
• Checking out customers
• Balancing cash register, dropping and vending money • Stocking shelves and coolers
• Scanning in items into inventory from deliveries
• Making coffee
Delivery Driver
Louie's Pizza - Colorado Springs, CO March 2020 to July 2020
Same responsibilities as above
 
Education
College Degree in Computer Engineering
Utah State University - Logan, UT
August 2020 to Present
High school diploma
Pine Creek High School - Colorado Springs, CO
August 2016 to May 2020 Skills
• Delivery Driver Experience (1 year) • Cashiering (1 year)
• Python
• Microsoft Excel
• SQL
• Customer service (2 years)
Certifications and Licenses
Driver's License Food Handler Permit</h2>